
<div class="row">
  <div class="col-1 col-emblem align-self-start">

    <img class="emblem" src="{{ "/assets/160/" | append: include.item.emblemfile | relative_url }}" alt="{{ include.item.organization }}" >

  </div>
  <div class="col-11 align-self-end">

    <h{{ include.headingLevel }} >{{ include.item.title }}</h{{ include.headingLevel }} >
    {% if include.item.title != include.item.organization %}
      <span class="organization">{{ include.item.organization }}</span>
    {% endif %}

    {%- include resume_item_period.html period=include.item.period -%}

    {%- include resume_item_credential.html credentialID=include.item.credentialID verification_url=include.item.verification_url -%}

    <p>
      {{ include.item.content }}
    </p>

  </div>
</div>