---
layout: base
---
<article class="post">
  
  <div class="row">
    <div class="col-12">
    
      {{- content -}}
  
    </div>
  </div>
  
  <div class="resume_section resume_skillsSoft listitems_as_badges">
    <div class="row">
      <div class="col-12">
  
        <h2>Skills</h2>
        {{- page.skillsSoft_caption | markdownify -}}
  
      </div>
    </div>

    {% assign keySkillsSoft = site.skillsSoft | where: "key", page.key %}
    {% assign noKeySkillsSoft = site.skillsSoft | where: "key", null %}
    {% assign skillsSoft = keySkillsSoft | concat: noKeySkillsSoft %}

    {%- include resume_section_cards_and_lists.html items=skillsSoft -%}
  </div>

  <div class="resume_section resume_skillsTechnical listitems_as_badges">
    <div class="row">
      <div class="col-12">
  
        <h2>Technical</h2>
        {{- page.skillsTechnical_caption | markdownify -}}
  
      </div>
    </div>
  
    {% assign keySkillsTechnical = site.skillsTechnical | where: "key", page.key %}
    {% assign noKeySkillsTechnical = site.skillsTechnical | where: "key", null %}
    {% assign skillsTechnical = keySkillsTechnical | concat: noKeySkillsTechnical %}

    {%- include resume_section_cards_and_lists.html items=skillsTechnical -%}
  </div>

  <div class="resume_section resume_experience">
    <div class="row">
      <div class="col-12">

        <h2>Experience</h2>
        {{- page.experience_caption | markdownify -}}

      </div>
    </div>
  
    {% assign keyExperience = site.experience | where: "key", page.key %}
    {% assign noKeyExperience = site.experience | where: "key", null %}
    {% assign experience = keyExperience | concat: noKeyExperience %}

    {%- include resume_section_items.html items=experience -%}
  </div>
  
  <div class="resume_section resume_experiencePrevious">
    <div class="row">
      <div class="col-12">
        
        <div class="hide_print">
          {{- page.experiencePrevious_caption | markdownify -}}
  
          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#resume_section_experiencePrevious" aria-expanded="false" aria-controls="resume_section_experiencePrevious" id="resume_section_experiencePrevious_revealButton">
            Show
          </button>
        </div>
        
        <div class="hide_display">
          {{- page.experiencePrevious_caption_print -}}&nbsp;<a href="{{ site.website.url }}">{{ site.website.title }}</a>
        </div>

      </div>
    </div>

    <div class="collapse" id="resume_section_experiencePrevious">
      {% assign keyExperiencePrevious = site.experiencePrevious | where: "key", page.key %}
      {% assign noKeyExperiencePrevious = site.experiencePrevious | where: "key", null %}
      {% assign experiencePrevious = keyExperiencePrevious | concat: noKeyExperiencePrevious %}

      {%- include resume_section_items.html items=experiencePrevious -%}
    </div>
  </div>
  
  <div class="resume_section resume_certifications">
    <div class="row">
      <div class="col-12">
  
        <h2>Certifications</h2>
        {{- page.certifications_caption | markdownify -}}
  
      </div>
    </div>
    
    {% assign keyCertifications = site.certifications | where: "key", page.key %}
    {% assign noKeyCertifications = site.certifications | where: "key", null %}
    {% assign certifications = keyCertifications | concat: noKeyCertifications %}
  
    {%- include resume_section_items.html items=certifications -%}
  </div>

  <div class="resume_section resume_education">
    <div class="row">
      <div class="col-12">

        <h2>Education</h2>
        {{- page.education_caption | markdownify -}}
  
      </div>
    </div>
    
    {% assign keyEducation = site.education | where: "key", page.key %}
    {% assign noKeyEducation = site.education | where: "key", null %}
    {% assign education = keyEducation | concat: noKeyEducation %}

    {%- include resume_section_items.html items=education -%}
  </div>

</article>
